body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f6f4;
}

.container {
    background-color:hsl(from #14a7ba h s l);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}