body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f6f4;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    background-color:hsl(from #14a7ba h s l);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: #f4f6f4;
}

in {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
h2 {
    font-size: 20px;
}

button {
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color:white;
}