/* styles.css */
body, 
html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 300px;
    min-width: 300px;
    min-height: 250px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }